
<div class="bg">
  <div class="bx">
    <h2><span class="quote">CROP PREDICTION</span></h2>
    <h3>Find out the most suitable crop to grow in your farm</h3><br>

    <form action="/" method="POST">
      <div class="form__group">
        <div class="box">
          <label for="lang" class="form__label">Nitrogen</label>
          <input class="form__field" type="text" name="Nitrogen" placeholder="Enter Nitrogen value"
            required="required" id="lang">
        </div>
        <div class="box">
          <label for="mem" class="form__label">Potassium</label>
          <input class="form__field" type="text" name="Potassium" placeholder="Enter Potassium value"
            required="required" id="mem">
        </div>
        <div class="box">
          <label for="sp" class="form__label">Phosphorus</label>
          <input class="form__field" type="text" name="Phosphorus" placeholder="Enter Phosphorus value"
            required="required" id="sp">
        </div>
        <div class="box">
          <label for="vis" class="form__label">pH level</label>
          <input class="form__field" type="text" name="pH" placeholder="Enter pH value(0-14)" required="required"
            id="vis">
        </div>
        <div class="box">
          <label for="aud" class="form__label">Rainfall(mm)</label>
          <input class="form__field" type="text" name="Rainfall" placeholder="Enter the value in mm"
            required="required" id="aud">
        </div>
        <!--
        <div class="box">
          <label for="state_id" class="form__label">State</label>

          <select id="state_id" class="form__field" name="State" placeholder="Select State" required="required">
            <option>Select State</option>
            <option value="Andaman & Nicobar">Andaman & Nicobar</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chattisgarh">Chattisgarh</option>
            <option value="Dadra & Nagar Haveli">Dadra & Nagar Haveli</option>
            <option value="Daman & Diu">Daman & Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu & Kashmir">Jammu & Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerela">Kerela</option>
            <option value="Ladakh">Ladakh</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>
          </select>

        </div> -->
        <div class="box">
          <label for="city_id" class="form__label">City</label>
          <input class="form__field" type="text" name="city" placeholder="Enter the city"
            required="required" id="city_id">

        </div>
      </div>
      <h1>
        <button class="btn" type="submit">
          PREDICT
        </button>
      </h1>
    </form>
    
    <br />
    <br /><span class="w" id="answer">
      
    </span>
  </div>

</div>
