.bg{
    min-height: 650px;
    height: fit-content;
    background-image: url(./../../../assets/images/homebg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bx{
    min-height: 550px;
    height: fit-content;
    
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #170b0b99;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #170b0b99;
}
.quote{
    font-size: 40px;
    font-weight: 500;
    color:rgb(243, 213, 160);
}

#blog{
    background-color: rgba(244, 222, 184, 0.692);
    color: #170b0b;
    padding: 1em;
    font-size: 18px;
    border-radius: 12px;
  }
h1{
text-align: center;
}